
###> symfony/framework-bundle ###
APP_SECRET=change_me
# App Azure: SRM-Outlook
MS_GRAPH_TENANT_ID=
MS_GRAPH_CLIENT_ID=
MS_GRAPH_CLIENT_SECRET=
MS_GRAPH_MAILBOX_USER=
MS_GRAPH_OAUTH_TENANT=common
MS_GRAPH_REDIRECT_URI=http://localhost:8000/api/outlook/oauth/callback
MS_GRAPH_FRONTEND_URL=http://localhost:5173
###< symfony/framework-bundle ###
